{{ define "main" }}
  <section class="section pages-single pages-single-color {{ if .Site.Params.dark }}dark{{ end }}">
    <div class="container">
      <div class="flex justify-end">
        {{ partial "docs/search" . }}
      </div>
    </div>

    <div class="bg-pages-separator">
    </div>

    <div class="container">
      <div class="navigation">
        <div class="prev">
        {{ with .PrevInSection }}
          <a class="" href="{{ .Permalink }}">< Back </a>
        {{ end }}
        </div>
        <div class="next">
        {{ with .NextInSection }}
          <a class="" href="{{ .Permalink }}">Next ></a>
        {{ end }}
        </div>
      </div>
      <article class="pages-content">
        <div class="page-meta">
          {{ .Date.Format "2006-01-02" }} {{ with .Params.Author }} / {{ . }} {{ end }}
        </div>
        <div class="page-title-author">
          <h2 class="page-title">
            {{ .Title }}
          </h2>
          <div class="page-author">
            {{ if .Params.authorImage }}
              <img src="{{ .Params.authorImage }}" alt="{{ .Params.author }}">
            {{ end }}
            <p class="author-name"> {{ .Params.author }} </p>
          </div>
        </div>
        {{ with .Params.image }}
          <div class="page-hero">
            <img src="{{ . }}" alt="Featured Image">
          </div>
        {{ end }}
        {{ with .Params.description }}
          <div class="page-description">
            {{ . | markdownify }}
          </div>
        {{ end }}
        <div class="markdown">
          {{- .Content -}}
        </div>
      </article>
    </div>
  </section>

  {{ partial "related-color" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
