<section class="section features">
  <div class="bg-separator">
  </div>
  <div class="container">
    <h2 class="features-title display-2">{{ .title }}</h2>
    <div class="row">
      {{ range .cards }}
        <div class="column-12 column-md-6 column-lg-4">
          <div class="card-container">
            <h3 class="card-title">{{ .title }}</h3>
            <div class="card-content">
              <p class="card-text">{{ .text }}</p>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    <p class="features-text">{{ .text }}</p>
  </div>
</section>
