@font-face {
  font-family: 'Artifika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/Artifika-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/texgyrepagella-regular.otf') format('otf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('fonts/texgyrepagella-bold.otf') format('otf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('fonts/texgyrepagella-italic.otf') format('otf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('fonts/texgyrepagella-bolditalic.otf') format('otf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
