.book-search {
  position: relative;
  border: solid 1px #000000;
  border-radius: 4px;

  #book-search-results {
    top: 2.4rem;


    margin: 0;
    padding: 1rem 2rem;
    position: absolute;

    background-color: #FFFFFF;
    border: solid 1px #000000;
    border-radius: 4px;

    &:empty {
      padding: 0;
      border: none;
    }

    li {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;

      a {
        text-decoration: none;
        color: #000000;
        margin-right: .4rem;
      }
    }
  }
}
