<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-inner">
      <a class="navbar-logo" href="/" title="LurkLang">
        <img class="navbar-logo-image" src="/images/logo-lurk.svg">
      </a>
      <div class="navbar-menu">
        <div class="navbar-item">
          <a class="navbar-link" href="/blog-detail">Blog</a>
        </div>
        <div class="navbar-item">
          <a class="navbar-link" href="/blog-detail">FAQ</a>
        </div>
        <div class="navbar-item">
          <div class="navbar-dropdown">
            <div class="navbar-dropdown-button" aria-describedby="secondary-pages">
              <p class="navbar-dropdown-label">Spec</p>
              <svg class="navbar-dropdown-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="ExpandMoreIcon" style="font-family: &quot;Courier New&quot;; font-style: normal; font-weight: 700; font-size: 24px; line-height: 27px; color: rgb(0, 0, 0);"><path d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></svg>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-link navbar-button" href="/blog-detail">
            Github
            <span class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span>
          </a>
        </div>
      </div>
      <div class="navbar-mobile-button">
        <button class="MuiButton-root MuiButton-outlined MuiButton-outlinedPrimary MuiButton-sizeMedium MuiButton-outlinedSizeMedium MuiButtonBase-root  css-pmubvg-MuiButtonBase-root-MuiButton-root" tabindex="0" type="button" aria-label="Menu">
          <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true" data-testid="MenuIcon"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
          <span class="MuiTouchRipple-root css-8je8zh-MuiTouchRipple-root"></span>
        </button>
      </div>
    </div>
  </div>
</header>
