{{ if not (.Page.Scratch.Get "lurk") }}
<script type="text/javascript" src="{{ "lurk/highlight-lisp/highlight-lisp.js" | relURL }}"></script>
<link rel="stylesheet" id="hl-theme" href="{{ "lurk/highlight-lisp/themes/github.css"  | relURL }}" >
<link rel="stylesheet" href="{{ "lurk/css/lurk.css" | relURL  }}">

<script type="module" src="{{ "lurk/index.js" | relURL }}"></script>
{{ .Page.Scratch.Set "lurk" true }}
{{ end }}

{{ $id := now.UnixNano }}
{{ $group := .Get "group" | default ""  }}
{{ $editable := .Get "editable" | default "false" }}
{{ $name := .Get "name" | default "name_default" }}
{{ $resultOnly := .Get "resultOnly" | default "false" }}
{{ $input := .Get "input" | default "name_default" }}
{{ $storeOutputAt := .Get "storeOutputAt" | default "name_default" }}
{{ $evaluateOutputFrom := .Get "evaluateOutputFrom" | default "name_default" }}
{{ $content := .Inner | .Page.RenderString }}

{{ $hashOnly := .Get "hashOnly" | default "false" }}


{{ $args := .Get "args" | default "" }}
{{ $args := split $args "," }}

<style>
  [contenteditable] {
    outline: 0px solid transparent;
  }

  .lurk-code-component .code-section {
    padding: 20px;
  }

  .lurk-code-component {
    position: relative;
  }

  .main{
    width: 600px;
  }

  #output-container{{$id}} {
    display: none;
  }

  #lurk-code-component-controls{{$id}} {
    display: block;
  }

  #run{{$id}} {
    background-repeat: no-repeat;
    background-color: rgb(104, 104, 104);
    -webkit-mask-image: url({{ "lurk/img/play-fill.svg" | relURL  }});
    mask-image: url({{ "lurk/img/play-fill.svg" | relURL  }});
    height: 16px;
    width: 16px;
    border: 0;
    box-sizing: border-box;
    transition: 100ms all ease;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 6px;
  }

  #run{{$id}}:hover {
               -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
               -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
               box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
             }

  #reset{{$id}} {
    background-repeat: no-repeat;
    background-color: rgb(104, 104, 104);
    -webkit-mask-image: url({{ "lurk/img/rewind-fill.svg" | relURL  }});
    mask-image: url({{ "lurk/img/rewind-fill.svg" | relURL  }});
    height: 16px;
    width: 16px;
    border: 0;
    box-sizing: border-box;
    transition: 100ms all ease;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 26px;
  }

  #reset{{$id}}:hover {
                 -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
                 -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
                 box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
               }

  .spinner{{$id}} {
    background-repeat: no-repeat;
    background-color: rgb(104, 104, 104);
    height: 16px;
    width: 16px;
    border: 0;
    box-sizing: border-box;
    transition: 100ms all ease;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 6px;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  .dots{{$id}} {
    width: 56px;
    height: 10px;
    background: radial-gradient(circle closest-side,rgb(153, 153, 153), 90%,#0000) 0 0/33% 100% space;
    clip-path: inset(0 100% 0 0);
    animation: dots-e3xtdg 1.5s steps(4) infinite;
    box-sizing: border-box;
    transition: 100ms all ease;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 6px;
  }

  @keyframes dots-e3xtdg {
    to {
      clip-path: inset(0 -34% 0 0);
    }
  }

  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
          transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
          -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
  }
</style>

<div id="main" width="100%" style="margin:10px;" >
  <div class="lurk-code-component">
    <div class="dots{{$id}}" id="dots{{$id}}"></div>
    <div id="lurk-code-component-controls{{$id}}">
      <button id="reset{{$id}}" class="button"></button>
      <button id="run{{$id}}" class="button"></button>
    </div>
    <pre class="code-section"><code id="lurkcode{{$id}}" name="lurkcode_{{$storeOutputAt}}" contenteditable="{{$editable}}"></code></pre>
    <span id="output-container{{$id}}">
        <pre class="output-section"><code class="output" id="output{{$id}}" name="output_{{$storeOutputAt}}">output goes here</code></pre>
      </span>
  </div>
  <div id="counter{{$id}}" style="display:none;">0</div>
</div>

<!-- hidden stuff -->
<textarea id="evaluate_from{{$id}}" name="evaluate_from{{$evaluateOutputFrom}}" style="display: none;">{{$evaluateOutputFrom}}</textarea>
<textarea id="store_at{{$id}}" name="store_at{{$storeOutputAt}}" style="display: none;">{{$storeOutputAt}}</textarea>

<script type="text/javascript">

  document.getElementById("evaluate_from{{$id}}").addEventListener("change", function() {
    document.getElementById("lurkcode{{$id}}").textContent = document.getElementsByName("evaluate_from{{$evaluateOutputFrom}}")[0].textContent;
    var lurkCode = document.getElementById("lurkcode{{$id}}");
    HighlightLisp.highlight_element(lurkCode);
    HighlightLisp.paren_match(lurkCode);
  },true);

  //  dom objects
  var counterObj = document.getElementById("counter{{$id}}");
  var evaluateOutputFromObj = document.getElementById("evaluate_from{{$id}}");
  var storeOutputAtObj = document.getElementById("store_at{{$id}}");

  //  data vars
  var counter = 0;
  var evaluateOutputFrom = "";
  var storeOutputAt = "";

  function load() {
    counter = counterObj.innerHTML;
    evaluateOutputFrom = evaluateOutputFromObj.textContent;
    storeOutputAt = storeOutputAtObj.textContent;

    //  reset, runs and spinner.
    document.getElementById("reset{{$id}}").style.display = "none";
    document.getElementById("run{{$id}}").style.display = "none";
    document.getElementById("dots{{$id}}").style.display = "block";

    // lurkCode
    lurkCode = document.getElementById("lurkcode{{$id}}")

    //  set the code
    if (evaluateOutputFrom == "name_default") {
      lurkCode.textContent = {{$content}};
    } else {
      // check local store
      //localStorage.getItem(evaluateOutputFrom) ? lurkCode.textContent = localStorage.getItem(evaluateOutputFrom) : lurkCode.textContent = {{$content}};
      //lurkCode.textContent = document.getElementsByName("store_at{{$evaluateOutputFrom}}")[0].value;
      //lurkCode.textContent = localStorage.getItem(document.getElementsByName("evaluate_from{{$evaluateOutputFrom}}")[0].value);
    }

    HighlightLisp.highlight_element(lurkCode);
    HighlightLisp.paren_match(lurkCode);
  }

  function dataCheck() {
    //lurkCode.textContent = document.getElementsByName("store_at{{$evaluateOutputFrom}}")[0].value;
  }

  function checkRunEvaluatorHandler() {
    if (window.runExpressionEvaluator != undefined) {
      document.getElementById("reset{{$id}}").style.display = "block";
      document.getElementById("run{{$id}}").style.display = "block";
      document.getElementById("dots{{$id}}").style.display = "none";
    }
  }

  document.getElementById("run{{$id}}").onclick = async function() {
    try{
      var lurkCode = document.getElementById("lurkcode{{$id}}");
      var counter = document.getElementById("counter{{$id}}").innerHTML;
      var counterInt = parseInt(counter) + 1;

      //  store the counter and the original content
      document.getElementById("counter{{$id}}").innerHTML = counterInt;
      localStorage.setItem("originalContent_{{$id}}_" + counterInt, lurkCode.textContent);

      //  fill the output with the result
      var output = document.getElementById("output{{$id}}");
      var output_container = document.getElementById("output-container{{$id}}");
      output_container.style.display = "block";
      output.textContent = "Processing...."; // just some simple feedback to the user
      let textContent = lurkCode.textContent;
      evaluationResult = await window.runExpressionEvaluator({textContent});
      var outObj = JSON.parse(evaluationResult); // parse to json

      if ({{$resultOnly}} == "true") {
        output.textContent = outObj.result; // only get the result.
      } else {
        output.textContent = "Iterations: " + outObj.iterations + "\nResult: " + outObj.result; // only get the iteration and result.
      }

      if ({{$hashOnly}} == "true") {
        output.textContent = outObj.result.toString().matchAll(""); // only get the hash.
      }

      localStorage.setItem("originalContent_output_{{$id}}_" + counterInt, output.textContent); // store the result on a local storage

      //  change the hidden div to the output.
      document.getElementById("store_at{{$id}}").textContent = outObj.result;
      localStorage.setItem("{{$storeOutputAt}}", outObj.result);
      document.getElementById("evaluate_from{{$id}}").textContent = outObj.result;

      //  evaluate
      //console.log(document.getElementsByName("store_at{{$storeOutputAt}}")[0]);
      document.getElementsByName("store_at{{$storeOutputAt}}")[0].textContent = outObj.result;
      document.getElementsByName("evaluate_from{{$storeOutputAt}}")[0].textContent = document.getElementsByName("store_at{{$storeOutputAt}}")[0].textContent;
      //document.getElementsByName("evaluate_from{{$storeOutputAt}}")[0].value = document.getElementsByName("store_at{{$storeOutputAt}}")[0].textContent;

      const e = new Event("change");
      const element = document.getElementsByName("evaluate_from{{$storeOutputAt}}")[0];
      element.dispatchEvent(e);

    } catch (e) {
      console.log(e);
    }
  };

  //  onclick listener
  document.getElementById("reset{{$id}}").onclick = async function() {
    try {
      var lurkCode = document.getElementById("lurkcode{{$id}}");
      var counter = document.getElementById("counter{{$id}}").innerHTML;
      var counterInt = parseInt(counter) - 1;

      if (counterInt == 0) {
        var output_container = document.getElementById("output-container{{$id}}");
        output_container.style.display = "none";
        return
      }

      lurkCode.textContent = localStorage.getItem("originalContent_{{$id}}_"+counterInt);
      document.getElementById("counter{{$id}}").innerHTML = counterInt;

      // output
      var output = document.getElementById("output{{$id}}");
      output.textContent = localStorage.getItem("originalContent_output_{{$id}}_" + counterInt);
      HighlightLisp.highlight_element(lurkCode);
      HighlightLisp.paren_match(lurkCode);
    } catch (e) {
      console.log(e);
    }
  };

  //  interval check
  function setImmediateInterval(funcToRun, ms) {
    funcToRun();
    return setInterval(funcToRun, ms);
  }

  //  get hash from open or comm
  function getHashFromOutput(stringInverse) {

  }

  setImmediateInterval(checkRunEvaluatorHandler, 1000);
  setImmediateInterval(dataCheck,1000);

  load();

</script>
